
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/<%=page%>.css">
	<link rel="stylesheet" type="text/css" href="/css/imp.css">
	<title>ShopStock.com</title>
</head>
<body>

	<div id="indexMainTop" style="<%if(page!='index'){%>height:200px<%};%>" class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark ">
			<a class="navbar-brand" href="/">SS</a>
			<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbaritems" aria-controls="#navbaritems" aria-expanded="false" aria-label="Toggle navigation"><i class="text-success fas fa-bars"></i></button>
			<div class="collapse navbar-collapse" id="navbaritems">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link">Contact Us</a></li>
				</ul>
				<ul class="navbar-nav">
					<%if(user){%>
					<li class="nav-item"><a class="nav-link" href="/orders">Orders by You</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/<%=user._id%>/edit">Welcome! <%=user.firstname%></a></li>
					<li class="nav-item"><a class="nav-link border border-info rounded" href="/logout">Logout</a></li>

					<%}else{%>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<%};%>
				</ul>
			</div>
		</nav>
		
		<div class="jumbotron jumbotron-fluid bg-transparent text-light">
			<div class="container">
				<%if(page=='index'){%>
				<h1 class="display-4">ShopStock</h1>
				<p>Is the shop open today? Is the product available on the shop?</p>
				<p class="lead">Connect directly to the business owner</p>
				<%}else{%>
				<%}%>
				<form action="/business" method="GET">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Search Business</span>
						</div>
						<input type="text" id="q" class="form-control" placeholder="Search Shop" name="q" aria-label="Search Shop">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary bg-dark text-light" type="submit">SEARCH</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		

	</div>