
	<%-include("./partials/header")%>
	<div class="container">
		<div class="card text-center m-5">
			<div class="card-header">
				Add Your Business to the website.
			</div>
			<div class="card-body">
				<h5 class="card-title">Parlour? Bakery? Karyana?</h5>
				<a href="/Business/new" class="btn btn-success btn-lg">Add Your Business</a>
			</div>
			<div class="card-footer text-muted">
				Get More Autdience for your business.
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<%-include("./partials/footer")%>