<%-include("./partials/header")%>
</nav>
<div id="loginform" class="container border rounded border-info w-50">
	<div class="loginheader container-fluid d-flex justify-content-center">
		<a class="btn <%if(info=="logerr" || !info){%>text-success bor-bot<%}%>">Login</a>
		<a class="btn <%if(info=="regerr"){%>text-success bor-bot<%}%>">SignUp</a>
	</div>
	<div id="ologin" class="container <%if(info=="regerr"){%>d-none<%}%>">
		<div id="login" class="container rounded">
			<%if(info=="logerr"){%>
			<div class="card m-4 bg-info text-light p-0">
				<div class="card-header">
					Incorrect ID/Password
				</div>
			</div>
			<%};%>
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="loginemail">Email</label>
					<input type="text" class="form-control" name="email" id="loginemail">
				</div>
				<div class="form-group">
					<label for="loginpass">Password</label>
					<input type="password" class="form-control" name="password" id="loginpass">
				</div>
				<button type="submit" class="btn btn-primary w-25">Login</button>
			</form>
		</div>
	</div>


	<div id="osignup" class="container <%if(info=="logerr" || !info){%>d-none<%}%>">
		<div id="signup" class="container rounded">
			<%if(info=="regerr"){%>
			<div class="card m-4 bg-info text-light p-0">
				<div class="card-header">
					Email Already Exists
				</div>
			</div>
			<%};%>
			<form action="/register" method="POST">
				<div class="form-group">
					<label for="signupname">User Name</label>
					<input type="Text" class="form-control" name="username" id="signupname">
				</div>
				<div class="form-group">
					<label for="signupemail">Email address</label>
					<input type="email" class="form-control" name="email" id="signupemail1">
				</div>
				<div class="form-group">
					<label for="signuppass">Password</label>
					<input type="password" class="form-control" name="password" id="signuppass">
				</div>
				<button type="submit" class="btn btn-primary w-25">SignUp</button>
			</form>
		</div>
	</div>
</div>
<%-include("./partials/footer")%>
